.detail-page {
  flex: 1;
  height: calc(100vh - 40px);
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.left {
  width: 160px;
  min-width: 160px;
  flex-shrink: 0;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e8e8e8;
  /* 超出内容可滚动 */
  overflow-y: auto;
  overflow-x: hidden;
  /* 平滑滚动（iOS 和 WebKit） */
  -webkit-overflow-scrolling: touch;
}

.item-group {
  height: 44px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.menu-item {
  height: 44px;
  font-size: 16px;
  color: #333;
}

.menu-item-select {
  height: 44px;
  font-size: 16px;
  color: #3069f2;
  background-color: #f0f3fd;
}
